.pokedex-name {
    font-size: 2rem;
  }

.pokedex-card {
    max-width: 345px;
    /* min-width: 345px; */
}

.pokedex-id {
    
}

  @media (min-width: 768px) {
    .pokedex-name {
        font-size: 2.25vw;
    }
}